# $schema: https://json.schemastore.org/github-workflow.json
name: CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

defaults:
  run:
    shell: bash

env:
  FORCE_COLOR: true

jobs:
  lint:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    if: github.repository == 'jcayzac/copepod-modules'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm

      - name: Install Dependencies
        run: |
          pnpm install
          pnpm add -wD @microsoft/eslint-formatter-sarif

      - name: Run ESLint
        run: pnpm exec eslint -f @microsoft/eslint-formatter-sarif -o eslint.sarif || true

      - name: Uploading SARIF
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: eslint.sarif

      - name: Typechecking
        run: pnpm check

      - name: Building Packages
        run: pnpm build
  test:
    if: github.repository == 'jcayzac/copepod-modules'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [lts/*]
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Running Tests
        run: pnpm test
